
//portrait tablets
@media screen and ( min-width: 777px) and (max-width:1025px){

  .bilboard-section{
    background-color: red;
  }

  header{
    .navbar{
      transform: translateX(5%);
      .logo-img{
          object-fit: contain;
          transform: translateX(70%);

      }
  }
  }


}

//medium devices media queries
@media screen and ( min-width: 577px) and (max-width:768px) {


}

//small screens media queries

@media screen and  (max-width: 567px){


}
