
//portrait tablets
@media screen and ( min-width: 777px) and (max-width:1025px){

  .aims .aimsCard {
      padding: 61px;
      width: 457px;
      height: 587px;
      background: #eb692d;
  }



}

//medium devices media queries
@media screen and ( min-width: 577px) and (max-width:768px) {
  .aims .aimsCard {
      padding: 47px;
      width: 613px;
      height: 499px;
      margin: 0px 40px;
      background: #eb692d;
  }
  .aims .aimsHeadText {
      display: flex;
      align-items: center;
      gap: 50px;
      margin: 40px 0px;
  }
}

//small screens media queries

@media screen and  (max-width: 567px){
  .aims .aimsCard {
      padding: 25px;
      font-size: 21px;
      width: 344px;
      height: 499px;
      background: #eb692d;
  }
  .aims .aimsCard h2 {
      font-size: 40px;
      width: 100%;
      margin-bottom: 40px;
      font-family: "rennerbold";
  }
  .aims {
      padding: 40px 0px;
      position: relative;
      background-color: black;
      height: auto;
  }
}
