.lastDivPadding2 {
  padding: 10px;
}

.navbar {
  margin-left: 100px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: "ralewaymedium";
}
.navbar .brand-title {
  /* margin: .5rem; */
  margin: 0;
}
.navbar .navbar-links ul {
  margin: 0;
  /*  margin-right: 180px; */
  padding: 0;
  display: flex;
}
.navbar .navbar-links li {
  list-style: none;
}
.navbar .navbar-links li .social-icon {
  -o-object-fit: contain;
     object-fit: contain;
  width: 25px;
}
.navbar .navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}
.navbar .navbar-links li a .active-state {
  -o-object-fit: contain;
     object-fit: contain;
  width: 10px;
}
.navbar .navbar-links li a:hover {
  color: orangered;
}
.navbar .navbar-links li a.active {
  color: orangered;
}
.navbar .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

header .navbar .logo-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 60%;
}

.bilboard-section {
  padding: 110px 120px;
  position: relative;
  overflow-x: hidden;
}
.bilboard-section .hero-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.bilboard-section span {
  color: #eb692d;
}
.bilboard-section h1 {
  width: 100%;
  font-size: 60px;
  font-weight: 700;
  transform: translateY(-55%);
  font-family: "rennersemi";
}
.bilboard-section .MobiTruck-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 130%;
  padding-right: 80px;
  transform: translateY(-25%);
}

/* Simba's Code ENDS here! */
/* ABOUT */
.about {
  background-color: black;
  color: white;
  padding-bottom: 100px;
  /* Large devices (desktops, less than 1200px) */
  /* Medium devices (tablets, less than 992px) */
  /* X-Small devices (portrait phones, less than 576px) */
}
.about .about-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  bottom: 110px;
}
.about .about-content .about-text .about-card {
  background-color: #FF7F00;
  color: black;
  padding: 60px;
  line-height: 30px;
  margin-bottom: 100px;
}
.about .about-content .about-text .about-card h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.8;
  font-family: "rennersemi";
}
.about .about-content .about-text .about-card p {
  font-size: 14px;
  opacity: 70%;
  margin-top: 20px;
}
.about .about-content .about-text p, .about .about-content .about-text ul {
  font-size: 14px;
  opacity: 80%;
  font-family: "rennersemi";
}
.about .about-stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0px 32px;
}
.about .about-stats h4 {
  font-size: 30px;
  font-weight: 600;
}
.about .about-stats .meals-card, .about .about-stats .families-card {
  background-color: white;
  color: black;
  padding: 20px 30px;
}
.about .about-stats .meals-card p, .about .about-stats .families-card p {
  opacity: 70%;
}
.about .about-stats .target-card {
  display: flex;
  padding: 20px 0px;
  justify-content: space-around;
  background-color: #FF7F00;
  align-items: center;
}
.about .about-stats .target-card div:nth-child(2) {
  text-align: right;
}
.about .about-stats .target-card #progressBar {
  width: 300px;
  height: 10px;
  background-color: rgba(253, 249, 249, 0.501);
  border-radius: 100px;
}
.about .about-stats .target-card #myBar {
  width: 60%;
  height: 30px;
  height: 10px;
  background-color: white;
  border-radius: 100px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about {
    background-color: blue;
  }
  .about .about-content .about-text .about-card {
    padding: 30px;
  }
  .about .about-stats .families-card, .about .about-stats .meals-card {
    padding: 30px 10px;
  }
  .about .about-stats .target-card {
    padding: 20px 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about {
    background-color: aqua;
  }
  .about .about-content {
    flex-direction: column;
    bottom: 0px;
    align-items: center;
  }
  .about .about-content .about-text .about-card {
    margin-bottom: 20px;
  }
  .about .about-stats {
    margin-top: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .about {
    padding: 20px;
    background-color: red;
  }
  .about .about-content {
    flex-direction: column;
    bottom: 0px;
    align-items: center;
  }
  .about .about-content .about-text .about-card {
    margin-bottom: 20px;
    padding: 20px;
  }
  .about .about-content .about-text .about-card h3 {
    font-size: 18px;
  }
  .about .about-stats {
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .about .target-card {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */